<b-container>
    <b-row>
        <b-col>
            <b-card title="Candidate form">
                <div>
                    <b-form @submit="onSubmit" @reset="onReset">
                        <b-form-group id="input-group-1"
                                      label="Name:"
                                      label-for="name"
                                      description="">
                            <b-form-input id="name"
                                          v-model="form.name"
                                          type="text"
                                          required
                                          placeholder="Enter your name"
                                          :state="nameState"
                                          aria-describedby="name-input-live-help name-input-live-feedback"
                                          v-on:keypress="isLetter($event)"
                                          trim></b-form-input>
                            <b-form-invalid-feedback id="name-input-live-feedback">
                                Enter your name. Only latin letters. Maximum length 50 letters.
                                The first letter must be a capital.
                            </b-form-invalid-feedback>
                            <b-form-text id="name-input-live-help">Your name</b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-2"
                                      label="Last Name:"
                                      label-for="lastName"
                                      description="">
                            <b-form-input id="lastName"
                                          v-model="form.lastName"
                                          type="text"
                                          required
                                          placeholder="Enter your last name"
                                          :state="lastNameState"
                                          aria-describedby="lastName-input-live-help lastName-input-live-feedback"
                                          v-on:keypress="isLetter($event)"
                                          trim></b-form-input>
                            <b-form-invalid-feedback id="lastName-input-live-feedback">
                                Enter your last name. Only latin letters. Maximum length 50 letters.
                                The first letter must be a capital.
                            </b-form-invalid-feedback>
                            <b-form-text id="lastName-input-live-help">Your last name</b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-3"
                                      label="Middle Name:"
                                      label-for="middleName"
                                      description="">
                            <b-form-input id="middleName"
                                          v-model="form.middleName"
                                          type="text"
                                          placeholder="Enter your middle name"
                                          :state="middleNameState"
                                          aria-describedby="middleName-input-live-help middleName-input-live-feedback"
                                          v-on:keypress="isLetter($event)"
                                          trim></b-form-input>
                            <b-form-invalid-feedback id="middleName-input-live-feedback">
                                Enter your middle name. Only latin letters. Maximum length 50 letters.
                                The first letter must be a capital.
                            </b-form-invalid-feedback>
                            <b-form-text id="middleName-input-live-help">Your middle name</b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-4" label="Gender:" label-for="gender" :state="genderState">
                            <b-form-select id="gender"
                                           v-model="form.gender"
                                           :state="genderState"
                                           aria-describedby="gender-input-live-help gender-input-live-feedback"
                                           required>
                                <option v-for="(option, idx) in genders"
                                        :key="idx"
                                        :value="option.value">
                                    {{ option.text }}
                                </option>
                            </b-form-select>
                            <b-form-invalid-feedback id="gender-input-live-feedback">
                                Choose your gender
                            </b-form-invalid-feedback>
                            <b-form-text id="gender-input-live-help">Your age</b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-5"
                                      label="Age:"
                                      label-for="age"
                                      description=""
                                      :state="ageState">
                            <b-form-input id="age"
                                          v-model="form.age"
                                          type="number"
                                          required
                                          placeholder="Enter your age"
                                          :state="ageState"
                                          aria-describedby="age-input-live-help age-input-live-feedback"
                                          trim></b-form-input>
                            <b-form-invalid-feedback id="age-input-live-feedback">
                                Enter at least 1 positive digit
                            </b-form-invalid-feedback>
                            <b-form-text id="age-input-live-help">Your age</b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-6" 
                                      label="Your date of birth:" 
                                      label-for="birthDate" 
                                      :state="birthDateState">
                            <b-form-datepicker id="birthDate"
                                               v-model="form.dateOfBirth"
                                               class="mb-2"
                                               required
                                               placeholder="Choose a date"
                                               :state="birthDateState"
                                               :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                                               locale="ru"
                                               aria-describedby="birthDate-input-live-help birthDate-input-live-feedback">
                            </b-form-datepicker>
                            <b-form-invalid-feedback id="birthDate-input-live-feedback">
                                Choose the birth day
                            </b-form-invalid-feedback>
                            <b-form-text id="birthDate-input-live-help">Your birth day</b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-7" label="Profession:" label-for="profession" :state="professionState">
                            <b-form-select id="profession"
                                           v-model="form.profession"
                                           :state="professionState"
                                           aria-describedby="profession-input-live-help profession-input-live-feedback"
                                           required>
                                <option v-for="(option, idx) in professions"
                                        :key="idx"
                                        :value="option.value">
                                    {{ option.text }}
                                </option>
                            </b-form-select>
                            <b-form-invalid-feedback id="profession-input-live-feedback">
                                Choose profession
                            </b-form-invalid-feedback>
                            <b-form-text id="profession-input-live-help">
                                Position that you have got
                            </b-form-text>
                        </b-form-group>

                        <b-form-group id="input-group-8"
                                      label="Years Of Experience:"
                                      label-for="experience"
                                      description=""
                                      :state="yearsOfExperienceState">
                            <b-form-input id="input-8"
                                          v-model="form.yearsOfExperience"
                                          type="number"
                                          required
                                          :state="yearsOfExperienceState"
                                          aria-describedby="experience-input-live-help experience-input-live-feedback"
                                          placeholder="Enter your full years of experience"
                                          trim></b-form-input>
                            <b-form-invalid-feedback id="experience-input-live-feedback">
                                Enter at least 1 positive digit
                            </b-form-invalid-feedback>
                            <b-form-text id="experience-input-live-help">
                                Your full years of experience
                            </b-form-text>
                        </b-form-group>

                        <b-button-group>
                            <b-button type="submit" variant="success">Submit</b-button>
                            <b-button type="reset" variant="info">Reset</b-button>
                            <b-button variant="danger"
                                      @click="deleteCandidate"
                                      v-if="!isNewCandidateAdding">
                                <b-icon icon="trash" aria-hidden="true" v-if="!deleted"></b-icon>
                                <b-icon icon="check-circle" aria-hidden="true" v-if="deleted"></b-icon>
                                {{deleteButtonTitle}}
                            </b-button>
                        </b-button-group>
                    </b-form>
                    <b-card class="mt-3" header="Form Data Result">
                        <pre class="m-0">{{ form }}</pre>
                    </b-card>
                </div>
            </b-card>
        </b-col>
    </b-row>
</b-container>