<div class="list row">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <b-form-input v-model="value" placeholder="Search by value"></b-form-input>
            <div class="input-group-append">
                <b-button variant="info"
                          @click="searchValue">
                    <b-icon icon="search" aria-hidden="true"></b-icon>
                    Search
                </b-button>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <b-button variant="success"
                  @click="addCandidate">
            <b-icon icon="plus-circle" aria-hidden="true"></b-icon>
            Add New
        </b-button>
    </div>
    <div class="col-md-6 mb-3">
        <h4>Candidates List</h4>
        <ul class="list-group">
            <li class="list-group-item"
                :class="{ active: index == currentIndex }"
                v-for="(candidate, index) in candidates"
                :key="index"
                @click="setActiveCandidate(candidate, index)">
                {{ candidate.name + " " + candidate.lastName }}
            </li>
        </ul>
    </div>
    <div class="col-md-6 mb-3">
        <div v-if="currentCandidate">
            <h4>Candidate</h4>
            <div v-for="(value, propertyName) in currentCandidate">
                <label><strong>{{propertyName}}</strong></label>
                {{ value.title || value }}
            </div>
            <a class="badge badge-warning"
               :href="'/candidates/' + currentCandidate.id">
                Edit
            </a>
        </div>
        <div v-else>
            <br />
            <p>Please click on a Candidate...</p>
        </div>
    </div>
</div>